codepkg/flows/ApexMDAPI.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assigne</name>
        <label>assigne</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MDAPI</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_value</name>
        <label>check value</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>sessionNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MDAPI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assigne</targetReference>
            </connector>
            <label>sessionNotNull</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MDAPI</name>
        <dataType>String</dataType>
        <expression>{!$Api.Session_ID}</expression>
    </formulas>
    <interviewLabel>ApexMDAPI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApexMDAPI</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_value</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>SId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
